/output
/testlogs
.env
/.idea

/CCASatTestSuite.iml
**/..module-common.o.cmd
**/.Module.symvers.cmd
**/.module-common.o
**/.*.ko.cmd
**/.*.mod.cmd
**/.*.mod.o.cmd
**/.*.o.cmd
**/.modules.order.cmd
**/*.mod
**/*.mod.c
**/*.mod.o
**/*.ko
**/*.o
**/modules.order
**/Module.symvers
/reciever.out
/sender.out
